<!-- Form -->
<form action="/api/employees" method="POST" id="add-employee">
  <div class="new-employee">
    <div class="form-group">
      <label for="name" class="text-light">Name</label>
      <input type="hidden" name="id" value="" />
      <input type="text" name="name" />
    </div>
    <div class="form-group">
      <label for="job" class="text-light">Job Title</label>
      <input type="text" name="job" />
    </div>
    <div class="form-group">
      <label for="email" class="text-light">Email</label>
      <input type="text" name="email" />
    </div>
    <div class="form-group">
      <label for="status" class="text-light">Status</label>
      <div class="radio inline">
        <input type="radio" id="radio-btn" name="status" value="Active" />
        <label for="radio-btn" class="radio-label">Active</label>
      </div>
      <div class="radio inline">
        <input type="radio" id="radio-btn2" name="status" value="Inactive" />
        <label for="radio-btn2" class="radio-label">Inactive</label>
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn text-dark update">Submit</button>
    </div>
  </div>
</form>
